# File: docs/requirements.txt

# Defining the exact version will make sure things don't break
sphinx_rtd_theme==0.5.1
readthedocs-sphinx-search==0.1.0
sphinx-markdown-tables==0.0.15
recommonmark==0.4.0

